### Q1. What is a database? Differentiate between SQL and NoSQL databases.

ANS:

A database is a structured collection of data that is organized and stored in a way that enables efficient retrieval, updating, and management of that data. It acts as a central repository for storing and managing data, allowing users to interact with it through queries, updates, and other operations.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system1. A database is usually controlled by a database management system (DBMS). The data in common databases is modeled in tables, making querying and processing efficient. Structured query language (SQL) is commonly used for data querying and writing.


#### differentiate between SQL and NoSQL databases:

#### SQL Databases3:

SQL databases are primarily called Relational Databases (RDBMS); they define and manipulate data based on a structured query language (SQL).

SQL databases require you to use predefined schemas to determine the structure of your data before you work with it. All of your data must follow the same structure. This can 
require significant up-front preparation.

SQL databases are vertically scalable, which means that you can increase the load on a single server by increasing things like RAM, CPU, or SSD.

SQL databases are table-based, making them a better option for applications that require multi-row transactions.

#### NoSQL Databases:

NoSQL databases are primarily called non-relational or distributed databases.

NoSQL databases have a dynamic schema for unstructured data. Data is stored in many ways: it can be document-oriented, column-oriented, graph-based, or organized as a key-value store.

NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database.

NoSQL databases are either key-value pairs, document-based, graph databases, or wide-column stores. This makes NoSQL databases a better option for applications that require large data sets that don’t have a clear schema.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It's a subset of SQL (Structured Query Language) used for defining and managing database structures. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and constraints.

 It includes commands like CREATE, DROP, ALTER, and TRUNCATE.
 
1.  CREATE: This command is used to create new database objects such as tables, indexes, views, or stored procedures.

Example:
CREATE TABLE Students (
    StudentID int,
    LastName varchar(255),
    FirstName varchar(255),
    Age int
);

This creates a new table named ‘Students’ with four columns: StudentID, LastName, FirstName, and Age.


2. DROP: DROP is used to delete existing database objects like tables, indexes, views, or stored procedures.

Example:

DROP TABLE Students;

This deletes the ‘Students’ table from the database.

3. ALTER: ALTER is used to modify existing database objects. It can be used to add, modify, or drop columns, constraints, or indexes.

Example:

ALTER TABLE Students ADD Email varchar(255);

This adds a new column named ‘Email’ to the ‘Students’ table.

4. TRUNCATE: TRUNCATE is used to remove all rows from a table while keeping the table structure intact. It's faster than using DELETE, as it doesn't log individual row deletions.

Example:

TRUNCATE TABLE Students;

This removes all records from the ‘Students’ table, but the table structure remains intact for future use.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It's a subset of SQL (Structured Query Language) used for manipulating data within database objects such as tables. DML commands are used to insert, update, delete, and retrieve data from database tables.

Key DML commands along with examples:

1. INSERT: This command is used to insert new rows of data into a table.

Example:

INSERT INTO Employees (EmployeeID, FirstName, LastName, DepartmentID)
VALUES (1, 'John', 'Doe', 101);

This SQL statement inserts a new row into the "Employees" table with the specified values for EmployeeID, FirstName, LastName, and DepartmentID.

2. UPDATE: UPDATE is used to modify existing data in a table.

Example:

UPDATE Employees
SET DepartmentID = 102
WHERE EmployeeID = 1;

This SQL statement updates the "DepartmentID" for the employee with EmployeeID 1 to 102 in the "Employees" table.

3. DELETE: DELETE is used to remove rows from a table based on specified conditions.

Example:

DELETE FROM Employees
WHERE EmployeeID = 1;

This SQL statement deletes the row from the "Employees" table where the EmployeeID is 1.

These DML commands are essential for manipulating data stored within database tables. They allow users to insert new data, update existing data, and delete unwanted data, providing the means to maintain the integrity and accuracy of the data within a database.

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It's a subset of SQL (Structured Query Language) used for retrieving data from database tables. DQL commands are primarily focused on querying and fetching data from the database.

The most common DQL command is SELECT, which is used to retrieve data from one or more tables in a database.

Here's an explanation of the SELECT command along with an example:

SELECT: This command is used to retrieve data from one or more tables in a database. It allows users to specify the columns they want to retrieve, apply filtering conditions, sort the results, and perform other operations on the retrieved data.

Example:

SELECT FirstName, LastName, DepartmentID
FROM Employees
WHERE DepartmentID = 101;

In this SQL statement:

SELECT FirstName, LastName, DepartmentID: Specifies the columns (FirstName, LastName, DepartmentID) that we want to retrieve from the "Employees" table.

FROM Employees: Specifies the table ("Employees") from which we want to retrieve the data.

WHERE DepartmentID = 101: Applies a condition to filter the rows, retrieving only those rows where the DepartmentID is equal to 101.

This SELECT statement retrieves the first name, last name, and department ID of employees who belong to the department with ID 101 from the "Employees" table.

The SELECT command is fundamental in SQL as it allows users to retrieve specific data based on various criteria and is extensively used in database querying and reporting.

### Q5. Explain Primary Key and Foreign Key.

#### Primary Key:

A Primary Key is a unique identifier assigned to each record within a database table. It is an attribute or a set of attributes that help to uniquely identify the tuples (records) in the relational table. The primary key provides the means to distinguish one tuple from all the others in the relation. Since the primary key is used to identify the tuples of a relation none of its attribute values can be null. 

For example, consider a table of employees. Since for each employee, there exists a unique Employee ID, so it acts as a primary key.

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT
);

In this example, the EmployeeID column is defined as the primary key for the Employees table.

#### Foreign Key:

A Foreign Key is a column or columns in a database that are linked to a column in a different table. The existence of a foreign key column establishes a foreign key constraint – a database rule that ensures that a value can be added or updated in one column only if the same value already exists in the linked column. For example, a table of customer orders might have a user column with a foreign key attribute that links it to the user_id column in a users table. This way, each row in the orders table can be associated with a specific user from the users table — and no orders can enter the system unless they’re connected to a valid, existing user.

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

In this example, the CustomerID column in the Orders table is a foreign key that references the CustomerID column in the Customers table. This establishes a relationship between the Orders and Customers tables based on the CustomerID column.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Python code snippet demonstrating how to connect to MySQL from Python using the mysql-connector library:

import mysql.connector

##### #Connect to MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

##### #Create a cursor object
mycursor = mydb.cursor()

##### #Execute a SQL query
mycursor.execute("SELECT * FROM yourtable")

##### #Fetch the result
result = mycursor.fetchall()

##### #Print the result
for row in result:
  print(row)

##### #Close the cursor and database connection
mycursor.close()
mydb.close()

### Explanation of the cursor() and execute() methods:

#### cursor() method:

The cursor() method creates a cursor object, which is used to interact with the MySQL database.

The cursor acts as a pointer that allows you to execute SQL queries and retrieve results from the database.

You can perform various operations such as executing SQL queries, fetching data, and managing transactions using the cursor object.

cursor = db_connection.cursor()


#### execute() method:


The execute() method of the cursor object is used to execute SQL queries.

You pass the SQL query as a string parameter to the execute() method.

The method then sends the SQL query to the MySQL database for execution.

If the query is a SELECT statement, the execute() method retrieves the data from the database.

For other types of SQL statements (e.g., INSERT, UPDATE, DELETE), the execute() method performs the specified operation on the database.

After executing the query, you can retrieve the result using methods like fetchone(), fetchall(), or fetchmany() depending on your requirements.

query = "SELECT * FROM your_table"
cursor.execute(query)

In this example, the execute() method runs the SQL query to select all records from the specified table

### Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the order of execution of clauses in a query generally follows a specific sequence:

1. FROM: This clause specifies the table(s) from which the data will be retrieved. It's the first clause processed in a query.

2. JOIN clause: If the query contains JOIN clauses, tables are combined by merging rows involved, before FROM clause

2. WHERE: The WHERE clause filters the rows returned by the FROM clause based on specified conditions. It's applied after the FROM clause.

3. GROUP BY: If specified, the GROUP BY clause groups the result set by one or more columns. It's applied after the WHERE clause.

4. HAVING: The HAVING clause filters the grouped rows based on specified conditions. It's applied after the GROUP BY clause.

5. SELECT: This clause selects the columns to be included in the result set. It's applied after the previous clauses have filtered and grouped the data.

6. ORDER BY: The ORDER BY clause sorts the result set based on specified columns and their sort order. It's applied after the SELECT clause.
LIMIT/OFFSET: If specified, the LIMIT and OFFSET clauses limit the number of rows returned by the query and specify a starting offset for the result set. They are applied last, after all other clauses have been processed.